
@import url(https://fonts.google.com/specimen/Tilt+Neon);

body{
    background-color: black;
    color: #09f;
    font-family: 'Tilt Neon', cursive;
}

h1{
    text-align: center;
}

#foto_perfil2 {
    position: relative;
    top: 8%;
    left: 8%;
    border-radius: 10px;
}

#foto_div{
    border: 1px solid #09f;
    width: 150px;
    height: 150px;
    padding: 8px;
    position: absolute;
    left: 60%;
    border-radius: 10px;
 
}



#boton_dp{
    background-color: black;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    padding: 8px 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

#boton_dp::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, blue, red, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter:blur(8px);
    animation: glowing 20s linear infinite;

}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#boton_fa{
    background-color: black;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    padding: 8px 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

#boton_fa::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, blue, red, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter:blur(8px);
    animation: glowing 20s linear infinite;

}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#boton_ocultar{
    background-color: black;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    padding: 8px 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

#boton_ocultar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, blue, red, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter:blur(8px);
    animation: glowing 20s linear infinite;

}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
#boton_ocultar2{
    background-color: black;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    padding: 8px 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

#boton_ocultar2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, blue, red, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter:blur(8px);
    animation: glowing 20s linear infinite;

}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}